.idea/
*__pycache__
.ipynb_checkpoints
*.pkl
model_ckpt/
ckpt/
output/
outputs/*
experiments/
data/msmarco-ru
models
data/triplets
data/full_collection
data/dev_queries
data/dev_qrel.json
test.py
elastic-engine
analytics/splade-doc-results
analytics/splade-results

